@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.custom-opacity-orange {
  background-color: rgba(255, 159, 64, 0.16); /* Adjust the opacity as needed */
}

.opacity-10-blue {
  color: rgba(59, 130, 246, 0.1);
}