@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url('Typeface/SF-Pro-Rounded-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url('Typeface/SF-Pro-Rounded-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url('Typeface/SF-Pro-Rounded-Semibold.otf') format('opentype');
  font-weight: 600; /* You might need to adjust the numerical value for semibold */
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url('Typeface/SF-Pro-Rounded-Medium.otf') format('opentype');
  font-weight: medium;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "SF-Pro-Rounded", sans-serif;
}

.custom-opacity-orange {
  background-color: rgba(255, 159, 64, 0.16); /* Adjust the opacity as needed */
}

.opacity-10-blue {
  color: rgba(59, 130, 246, 0.1);
}